h1 {
  color:antiquewhite;
  text-align: center;
  margin: 10% 0px 3% 0px;
}

body {
  background: #808080;
}

.main-search-input {
  border-radius: 1px;
  margin: 0px 20%;
  margin-bottom: 10%;
}

.fl-wrap {
  background: #fff;
  box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
}

.main-search-input-item {
  position: relative;
  display: inline-block;
  width: 60%;
}

.main-search-input-item input {
  padding: 0px;
  padding-left: 3%;
  height: 50px;
  width: 100%;
  border: none;
}

.main-search-button {
  padding: 0px;
  position: relative;
  display: inline-block;
  background: #4DB7FE;
  color: #fff;
  border: none;
  height: 50px;
  width: 40%;
  cursor: pointer;
}

.searchResult {
  position: static;
  background: #fff;
  margin-top: 10px;
  margin: 2%;
  box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3); 
}

.table {
  position: relative;
  display: table-row;
}

.thumbnail {
  margin: 5px 5px 2px 5px;
  position: relative;
  display: table-cell;
  float: left;
}

.description {
  width: 200%;
  position: absolute;
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
}